@page "/"
@using AgroDTO.ResponseModel
<h2 class="mb-3 text-center">AgroPharm</h2>
<div class="col-lg-8 offset-lg-2 pt-8 border">
    <MudDataGrid T="MarketResponse" MultiSelection="true" Items="@_marketResponses" SortMode="SortMode.Multiple" Filterable="true"    
    Hideable="true">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Список товаров</MudText>
            <MudSpacer />
            <MudTextField @bind-Value="_searchString" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
                AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
        <Columns>
            <SelectColumn T="MarketResponse" />
            <PropertyColumn Property="x => x.Id" Title="Номер" Sortable="false" Filterable="false" />
            <PropertyColumn Property="x => x.nameProdID" Title="Наименование товара" Sortable="true" />
            <PropertyColumn Property="x => x.obemProducts" Title="Количество товара, шт" Sortable="true" />
        
        </Columns>
        <PagerContent>
            <MudDataGridPager T="MarketResponse" />
        </PagerContent>
    </MudDataGrid>
</div>
@* <h3 class="mb-3 text-center">AgroPharm</h3> *@

@code {
    private IEnumerable<MarketResponse> _marketResponses;
    private string _searchString;    
    protected override async Task OnInitializedAsync()
    {
        try
        {
            _marketResponses = await _httpClient.GetFromJsonAsync<List<MarketResponse>>("api/Market/showMarketProducts");            
        }
        catch (Exception)
        {
            throw;
        }

    }    
}
